.info-card {
  .info-icon {
    position: relative;
    .info-content {
      height: 72px !important;
      width: 72px !important;
      margin: auto;
      justify-content: center;
      i {
        width: 24px;
        height: 24px;
        color: rgb(4, 172, 4) !important;
      }
      .display-card {
        position: absolute;
        bottom: 30px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        .card {
          border-radius:  10px;
          border-color: #80808042;
          border-style: solid;
          .card-content {
            .card-boxes {
              .spacing {
                padding-bottom: 16px;
              }
              .top-box {
                min-height: 70px;
              }
              .info-box {
                max-width: 95%;
                padding: 8px !important;
                justify-content: center;
                margin: auto;
                border-style: solid;
                border-color: #71d771;
                .box-images {
                  img {
                    width: 70px;
                  }
                  .bottom-left-image {
                    position: absolute;
                    bottom: 51px;
                    left: -1px;
                  }
                  .top-left-image {
                    position: absolute;
                    top: 24px;
                    left: -1px;
                  }
                  .top-right-image {
                    position: absolute;
                    top: 24px;
                    right: -1px;
                  }
                }
                .top-text {
                  width: 88%;
                }
                p {
                  padding-left: 36px;
                  font-size: .70rem;
                  text-align: left;
                }
              }
            }
            .bottom-text {
              font-size: .75rem;
              padding-top: 16px;
              a {
                color: green;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}


//tablet and smaller
@media(max-width: 768px) {
  .info-card {
    .info-icon {
      .info-content {
        .display-card {
          min-width: 240px;
        }
      }
    }
  }
}

@media (max-width: 630px){
  .info-card {
    .info-icon {
      .info-content {
        .display-card {
          .card {
            .card-content {
              .card-boxes {
                .info-box {
                  .box-images {
                    .top-right-image {
                      top: 49px;
                      right: -3px;
                    }
                    .top-left-image {
                      top: 49px;
                      left: -3px;
                    }
                    .bottom-left-image {
                      bottom: 67px;
                    }
                  }
                  p {
                    padding-left: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .info-card {
    .info-icon {
      .info-content {
        .display-card {
          left: -34px;
        }
      }
    }
  }
}