.info-card {
  .info-icon {
    position: relative;
    .info-content {
      display: block;
      height: 52px !important;
      width: 52px !important;
      margin: auto;
      justify-content: center;
      i {
        width: 24px;
        height: 24px;
        color: rgb(4, 172, 4) !important;
      }
      .display-card {
        position: absolute;
        bottom: 30px;
        max-width: 350px;
        min-width: 320px !important;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        .card {
          border-radius:  10px;
          border-color: #80808042;
          border-style: solid;
          .card-content {
            .card-boxes {
              .spacing {
                padding-bottom: 16px;
              }
              .top-box {
                min-height: 70px;
              }
              .box-images {
                img {
                  width: 55px;
                }
                hr {
                  background-color: #71d771;
                  size: 500px;
                  position: absolute;
                  width: 4px;
                  top: 29px;
                  left: 41px;
                  height: 150px;
                }
                .bottom-left-image {
                  position: absolute;
                  bottom: 15px;
                  left: 15px;
                }
                .top-left-image {
                  position: absolute;
                  top: 23px;
                  left: 15px;
                }
                .top-right-image {
                  position: absolute;
                  top: 100px;
                  left: 15px;
                }
              }
              p {
                padding-left: 72px;
                font-size: .80rem;
                text-align: left;
              }
              .neutral {
                color:  #0f6d0f;
                text-decoration: underline;
              }
            }
            .bottom-text {
              font-size: .75rem;
              padding-top: 16px;
              padding-left: 16px;
              a {
                color: green;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}


//tablet and smaller
@media (max-width: 768px) {
  .info-card {
    .info-icon {
      .info-content {
        .display-card {
          .card {
            .card-content {
              .card-boxes {
                .info-box {
                  .box-images {
                    .top-right-image {
                      top: 31px;
                    }
                    .top-left-image {
                      top: 31px;
                    }
                  }
                  p {
                    padding-left: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 630px){
  .info-card {
    .info-icon {
      .info-content {
        .display-card {
          .card {
            .card-content {
              .card-boxes {
                .info-box {
                  .box-images {
                    .top-right-image {
                      top: 49px;
                      right: -3px;
                    }
                    .top-left-image {
                      top: 49px;
                      left: -3px;
                    }
                    .bottom-left-image {
                      bottom: 67px;
                    }
                  }
                  p {
                    padding-left: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .info-card {
    .info-icon {
      .info-content {
        .display-card {
          left: -76px;
        }
      }
    }
  }
}