.header-section {
  height: 100vh;
  color: black;
  .header-content{
    .header-text {
      .box {
        box-shadow: 0 0.5em 1em -0.125em rgb(0, 58, 32), 0 0px 0 1px rgba(10, 10, 10, 0.02) !important;
        h1 {
          font-size: 3.75rem !important;
          line-height: 1 !important;
          font-weight: bolder;
          color: #007c5b;
          padding: 16px 0px;
        }
        h3 {
          font-size: 1.5rem !important;
          font-weight: bold;
          padding-bottom: 16px;;
        }
      }
    }
    .image-background {
      min-height: 800px;
      background-image: url('../images/17627.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}